<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2017 Nathaniel Hobbs</p>
<p>Nathaniel Hobbs<br> E-mail: <a href="mailto:hobbs.nathaniel@gmail.com">hobbs.nathaniel@gmail.com</a></p>
