<!-- views/pages/360_Iceland_water.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="//povdocs.github.io/webvr-starter-kit/build/vr.js"></script> -->
    <script src="//aframe.io/releases/0.4.0/aframe.min.js"></script>
</head>
<body>

    <a-scene>
        <a-sky src="../../img/360/Christmas_Eve.jpg"></a-sky>
    </a-scene>

</body>
</html>
