h1 {
  font: 400 60px/1.5 'Playfair Display', Georgia, serif;
  text-shadow: 5px 5px 3px #ccc
}
 
p {
  font: 400 16px/1.6 'Muli', Verdana, Helvetica, sans-serif;
}

body {
  background: url(/img/stardust/stardust.png)
}

div.container-fluid{
  #background-color: transparent !important;
  #color: #ffffff;
  #opacity: 0.2;
}
