<!-- views/pages/360_Iceland_water.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="//povdocs.github.io/webvr-starter-kit/build/vr.js"></script> -->
    <!--<script src="//aframe.io/releases/0.4.0/aframe.min.js"></script>-->
    <% include ../../../../partials/aframe %>
</head>
<body>

    <a-scene>
        <a-sky src="../../../../img/360/momChinaTrip2017/day_02_shanghai/french_concession_main_st_4.JPG"></a-sky>
    </a-scene>

</body>
</html>
