<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!-- <script src="//povdocs.github.io/webvr-starter-kit/build/vr.js"></script> -->
    <script src="//aframe.io/releases/0.4.0/aframe.min.js"></script>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>My brother and I in Iceland</h1>

            <a-scene>
                <a-sky src="../../img/360/Iceland_water.jpg"></a-sky>
            </a-scene>

            <!--
            <script type="text/javascript">
                VR.panorama("../../img/360/Iceland_water.jpg"); 
            </script>
            -->
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
