<!-- views/pages/garden.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body { margin: 0px; } .embed-container { position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; min-height: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <div class='jumbotron'>
          <p> Note, <span style="font-weight:bold;text-decoration:underline;color:red">these pictures are 6-10MB a peice</span>, so they might take a few seconds to load.</p>
          <p> If using computer, drag mouse to change view. </p>
          <p> If using mobile phone (this is a more pleasurable experience), move phone around through space or drag finger to change view.</p>
          <p> If using VR headset, be sure to use the icon in the lower right hand corner of the image to switch to that view</p>
    </div>

    <main>
	<div class='embed-container'>
		<iframe src='/360/Iceland_water' style='border:0;'></iframe>
	</div>
    <footer>
        <% include ../partials/footer %>
    </footer>

    <div class='jumbotron'>
          <h1 style="text-align:center;"> More 360 Pictures </h1>

      <h3> 2017 Shanghai/Suzhou/Hangzhou mother son trip</h3>
      <h4> &ensp; <span style="text-decoration:underline">Hangzhou</span> 
      <li><a href="/360/momChinaTrip2017/hangzhou/westlake_island_7">West Lake Island</a> at <a href="https://en.wikipedia.org/wiki/Xiling_Seal_Art_Society">Xiling Seal Art Society</a>, standing together. Hangzhou's <a href="https://en.wikipedia.org/wiki/West_Lake">West Lake</a> has exisited since the founding of China over 2000 years ago; there is a Chinese saying that translates most closely tranlates to English as "Hangzhou is like heaven on Earth". 
      <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_3">West Lake NW side (1)</a> Park for <a href="https://en.wikipedia.org/wiki/Pan_Tianshou">Pan Tianshou</a> (no people)
      <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_5">West Lake NW side (2)</a> Outside tea house (no people). 
      <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_11">West Lake NW side</a> Bench across lake from tea house (no people).
     <li><a href="/360/momChinaTrip2017/hangzhou/longjing_tea_field_2">Longjing tea field</a> In the center of Longjingshan park is a tea field where they grow the famed <a href="https://en.wikipedia.org/wiki/Longjing_tea">Longjing tea</a>. Here, one of the local farmers (holding a cute baby!) is checking the dryness of black tea leaves that have finished their last processing step.
      <li><a href="/360/momChinaTrip2017/hangzhou/hangzhou_wetland_7">Xixi National Wetland park</a>  The <a href="https://en.wikipedia.org/wiki/Xixi_National_Wetland_Park">Xixi National Wetland Park</a> has six main water courses and a history of over 1,800 years! 
      <h4> &ensp; <span style="text-decoration:underline">Shanghai</span> </h4>
      <li><a href="/360/momChinaTrip2017/shanghai/emily_food_market_1">At a local food market.</a>  This is a very common scene in China, and people will come on a (usually) daily basis to pick up fruits, vegitables, spices, raw meat, fish, squid, etc. for whatever meal they have planned for that day.
          <li><a href="/360/momChinaTrip2017/shanghai/fuxing_park_1">Fuxing Park.</a>  <a href="https://en.wikipedia.org/wiki/Fuxing_Park">Fuxing Park</a> was built in 1919 in the <a href="https://en.wikipedia.org/wiki/Shanghai_French_Concession">French Concession</a> territory of Shanghai.
          <li><a href="/360/momChinaTrip2017/shanghai/fuxing_park_9">Fuxing Park (3)</a>
          <li><a href="/360/momChinaTrip2017/shanghai/french_concession_main_st_1">This is a Main St. type area in the French Concession.</a>  Parents/grandparents wait for their children to get out of school. Mom is holding one of my <a href="https://en.wikipedia.org/wiki/Suanmeitang">favorite drinks</a> in China, a sour prune drink.
          <li><a href="/360/momChinaTrip2017/shanghai/french_concession_main_st_4">Another view of the Main St. area</a>

          <h3> 2016 Chicago/Wisconsin </h3>
          <li><a href="/360/David_by_barn"> Outside my uncle's house</a>
          
          <h3> 2016 October Iceland trip with my brother</h3>        
          <li><a href="/360/Iceland_field">In field in Northern Iceland</a>
          <li><a href="/360/Iceland_rainbow"> Looking at rainbow</a>
          <li><a href="/360/Iceland_trek2"> Laugavegur (1)</a>
          <li><a href="/360/Iceland_trek3"> Laugavegur (2)</a>
          <!--<li><a href="/360/Iceland_trek1"> Laugavegur (3)</a>-->
          <li><a href="/360/Iceland_water"> By the North Atlantic Ocean</a>
          
       </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
