<!-- views/pages/garden.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body { margin: 0px; } .embed-container { position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; min-height: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
	<div class='jumbotron'>
          <h1> Choose a picture to view </h1>

          <p> Note, these pictures are about 6MB a peice, so they might take a few seconds to load.</p>
          <p> If using a computer, probably best to use either Chrome or Firefox browser.  Drag mouse to change view. </p>
          <p> If using mobile phone, probably still best to use Chrome or Firefox.  Move phone around through space to change view.</p>
          <h3> Iceland </h3>        
          <li><a href="/360/Iceland_field">Jordan and I in field in Northern Iceland</a>
          <li><a href="/360/Iceland_rainbow"> Jordan and I looking at rainbow</a>
          <li><a href="/360/Iceland_trek1"> Jordan and I on Laugavegur (1)</a>
          <li><a href="/360/Iceland_trek2"> Jordan and I on Laugavegur (2)</a>
          <li><a href="/360/Iceland_water"> Jordan and I by the North Atlantic Ocean</a>
          
          <h3> 2016 Indianapolis trip </h3>
          <li><a href="/360/Jeff_dinner"> Dinner with Jeff, his gf, Rosanne, Joe, Emily</a>
          <li><a href="/360/Christmas_Eve">Christmas Eve with Koptizke Family</a>
          <li><a href="/360/Christmas_Maria_present">Christmas Day with Maria opening present</a>
          <li><a href="/360/Home_cookies_cutting">Cutting Christmas cookies</a>
          
          <h3> 2016 Chicago/Wisconsin </h3>
          <li><a href="/360/Chicago_Emily"> Emily and I in downtown Chicago</a>
          <li><a href="/360/David_by_barn"> David's house outside</a>
          <li><a href="/360/David_kitchen1"> David's kitchen (1)</a>
          <li><a href="/360/David_kitchen2"> David's kitchen (2)</a>
          <li><a href="/360/David_living_room"> Me playing with David and Paul's dog in the living room</a>
          <li><a href="/360/Retirement_home"> Me, David, Emily, and others eating dilunch afer performing for Harvest Guest Home</a>

          <h3> 2017 Chinese New Year </h3>
          <li><a href="/360/Laibin_food1">Emily, me, and two of her cousins eating outside in her hometown</a>
          <li><a href="/360/Laibin_mom_hometown1">Emily and I visiting her mom's hometown (1)</a>
          <li><a href="/360/Laibin_mom_hometown2">Emily and I visiting her mom's hometown (2)</a>
      
       </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
