<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body { margin: 0px; } .embed-container { position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; min-height: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
	<div class='jumbotron'>
          <h1 style="text-align:center;"> 360 Just for Family </h1>

          <p> Note, <span style="font-weight:bold;text-decoration:underline;color:red">these pictures are 6-10MB a peice</span>, so they might take a few seconds to load.</p>
          <p> If using computer, drag mouse to change view. </p>
          <p> If using mobile phone, move phone around through space or drag finger to change view.</p>
          
	  <h3> 2017 Shanghai/Suzhou/Hangzhou mother son trip</h3>
	  <h4> &ensp; <span style="text-decoration:underline">Hangzhou</span> </h4>
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_ne_side_2">West Lake NE side</a> Mom making a point on a sunny day. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_ne_side_city">Hangzhou city view (east of West Lake)</a> Mom and I hunt down a tea shop. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/shangrila_outside_table_2">Shangrila hotel outside table</a> Mom and I talking before we leave for our train. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/bullet_train_1">Inside bullet train</a> Mom and I enjoying the business class section.
	  <li><a href="/360/momChinaTrip2017/hangzhou/shangrila_garden_1">Shangrila garden (1)</a> Mom admires the rocks and I the trees.
	  <li><a href="/360/momChinaTrip2017/hangzhou/shangrila_garden_3">Shangrila garden (2)</a> Mom at the top of the steps, and me at the bottom. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/shangrila_garden_4">Shangrila garden (3)</a> Mom and I talk. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_of_bridge_1">West Lake NW of bridge.</a> Hangzhou's <a href="https://en.wikipedia.org/wiki/West_Lake">West Lake</a> has exisited since the founding of China over 2000 years ago.  
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_bridge_2">West Lake bridge</a> Mom and I cross the bridge to go to the island. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_island_2">West Lake Island (1)</a> 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_island_3">West Lake Island (2)</a> Mom and I in <a href="https://en.wikipedia.org/wiki/Xiling_Seal_Art_Society">Xiling Seal Art Society</a>, one of China's most important stone seal engraving associations. Mom is admiring the tree leaves blowing in the wind. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_island_6">West Lake Island (3)</a> Mom and I in <a href="https://en.wikipedia.org/wiki/Xiling_Seal_Art_Society">Xiling Seal Art Society</a>, standing together. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_island_7">West Lake Island (1)</a> Mom and I in <a href="https://en.wikipedia.org/wiki/Xiling_Seal_Art_Society">Xiling Seal Art Society</a>, standing together (2). 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_1">West Lake NW side (1)</a> Mom and I at park dedicated to Chinese painter <a href="https://en.wikipedia.org/wiki/Pan_Tianshou">Pan Tianshou</a>, who built the foundation of Chinese traditional painting eduction.  He was persecuted during the Cultural Revolution until his death in 1971. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_3">West Lake NW side (2)</a> Park for <a href="https://en.wikipedia.org/wiki/Pan_Tianshou">Pan Tianshou</a> (no people)
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_4">West Lake NW side (3)</a> Mom and I outside tea house talking. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_5">West Lake NW side (4)</a> Outside tea house (no people). 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_6">West Lake NW side (5)</a> Mom and I together outside tea house.
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_7">West Lake NW side (6)</a> Mom and I at tea house (lake view)
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_9">West Lake NW side (7)</a> Outside tea house looking through door
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_10">West Lake NW side (8)</a> 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_11">West Lake NW side (9)</a> Bench across lake from tea house (no people)
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_park_clovers">West Lake NW side park (1)</a> Mom and I looking for four leaf clovers.
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_park_1">West Lake NW side park (2)</a> Mom and I looking at statue in the distance. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_park_2">West Lake NW side park (3)</a> Mom looking at trees above while I look at moon bridge in the distance. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_park_3">West Lake NW side park (4)</a> Mom giving me a kiss on the cheek. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_park_night_2">West Lake NW side park (5)</a> The park lit up at night. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_night_3">West Lake NW side at night</a> 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_night_show_1">West Lake NW side at night (edge of show) (1)</a> Famed director <a href="https://en.wikipedia.org/wiki/Zhang_Yimou">Zhang Yimou</a> directs a live show called <a href="http://www.gotohangzhou.com/impression-west-lake.aspx">Impression West Lake</a> that tell stories based on Hangzhou legends. <a href="https://www.youtube.com/watch?v=PCRd34zpkDI">(video)</a> 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_nw_side_night_show_5">West Lake NW side at night (edge of show) (2)</a> Half blue trees, half normal.
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_north_hill_night_1">West Lake northern hill at night (1)</a> Mom and I sit together on the steps. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/westlake_north_hill_night_2">West Lake northern hill at night (1)</a> 
	  <li><a href="/360/momChinaTrip2017/hangzhou/longjing_park_2">Longjingshan park (1) </a> Longjingshan National park is a large park surrouding the Longjing tea fields.  I am wearing a gopro on my head shooting a <a href="https://www.youtube.com/watch?edit=vd&v=cNKBlk9JuCs">timelapse</a> of our walk. 
	  <li><a href="/360/momChinaTrip2017/hangzhou/longjing_park_5">Longjingshan park (2)</a> Mom and I together in back sidewalk.
	  <li><a href="/360/momChinaTrip2017/hangzhou/longjing_park_6">Longjingshan park (3)</a> Mom and I opposed in back sidewalk.
	  <li><a href="/360/momChinaTrip2017/hangzhou/longjing_park_10">Longjingshan park (4)</a> Along a path.
	 <!-- <li><a href="/360/momChinaTrip2017/hangzhou/longjing_park_9">Longjingshan park (5)</a> Mom and I on path.
-->
	 <li><a href="/360/momChinaTrip2017/hangzhou/longjing_tea_field_2">Longjing tea field (1)</a> In the center of Longjingshan park is a tea field where they grow the famed <a href="https://en.wikipedia.org/wiki/Longjing_tea">Longjing tea</a>. Here, one of the local farmers (holding a cute baby!) is checking the dryness of black tea leaves that have finished their last processing step.
	 <li><a href="/360/momChinaTrip2017/hangzhou/longjing_tea_field_5">Longjing tea field (2)</a> Standing in black tea field. 
	 <li><a href="/360/momChinaTrip2017/hangzhou/longjing_tea_field_6">Longjing tea field (3)</a>
	 <li><a href="/360/momChinaTrip2017/hangzhou/longjing_tea_field_10">Longjing tea field (4)</a> Mom and I together on path through tea field.
	 <li><a href="/360/momChinaTrip2017/hangzhou/longjing_tea_field_11">Longjing tea field (5)</a> Mom and I doing strange poses.

	  <li><a href="/360/momChinaTrip2017/hangzhou/hangzhou_wetland_2">Mom and I at the Xixi National Wetland park (1)</a>  The <a href="https://en.wikipedia.org/wiki/Xixi_National_Wetland_Park">Xixi National Wetland Park</a> has six main water courses and a history of over 1,800 years! 
	  <li><a href="/360/momChinaTrip2017/hangzhou/hangzhou_wetland_4">Mom and I at the Xixi National Wetland park (2)</a>
	  <li><a href="/360/momChinaTrip2017/hangzhou/hangzhou_wetland_7">Mom and I at the Xixi National Wetland park (3)</a>  
	  <h4> &ensp; <span style="text-decoration:underline">Suzhou</span> </h4>
	  <li><a href="/360/momChinaTrip2017/suzhou/danyang_bridge_1">Mom and I at Danyang-Kunshang Bridge (1)</a>  The <a href="https://en.wikipedia.org/wiki/Danyang%E2%80%93Kunshan_Grand_Bridge">Danyang-Kunshan Bridge"</a> is the longest bridge in the world at just over 100 miles long! It comprises part of the high speed rail from Shanghai to Beijing.  This photo is in the section near Suzhou, China that goes over a body of water.
	  <li><a href="/360/momChinaTrip2017/suzhou/danyang_bridge_2">Mom and I at Danyang-Kunshang Bridge (2)</a>
	  <li><a href="/360/momChinaTrip2017/suzhou/suzhou_park_1">Mom and I at park in Suzhou(1)</a>
	  <li><a href="/360/momChinaTrip2017/suzhou/suzhou_park_4">Mom and I at park in Suzhou(2)</a>
	  <h4> &ensp; <span style="text-decoration:underline">Shanghai</span> </h4>
	  <li><a href="/360/momChinaTrip2017/shanghai/emily_lunch_2">Emily, mom, and I having "malatang" for lunch.</a><a href="https://en.wikipedia.org/wiki/Malatang">  Malatang</a> is one of my favorite "common man" foods in China.
	  <li><a href="/360/momChinaTrip2017/shanghai/emily_walk_1">Emily, mom, and I walking around Shanghai (1)</a>
	  <li><a href="/360/momChinaTrip2017/shanghai/emily_walk_2">Emily, mom, and I walking around Shanghai (2).</a>  Mom wanted me to get a picture of "Emily's wavy hair in the back".
	  <li><a href="/360/momChinaTrip2017/shanghai/emily_walk_4">Emily, mom, and I walking around Shanghai (3).</a>  We are enjoying the unique architecture of the area. You can also see a few parents taking their kids home on bikes from school.
	  <li><a href="/360/momChinaTrip2017/shanghai/emily_food_market_1">At a local food market.</a>  This is a very common scene in China, and people will come on a (usually) daily basis to pick up fruits, vegitables, spices, raw meat, fish, squid, etc. for whatever meal they have planned for the day.
	  <li><a href="/360/momChinaTrip2017/shanghai/park_residence_2">Emily, mom, and I at park residence (1).</a> This residence used to belong to a high ranking official around "1920's Shanghai", and has since been turned into a park with restaurants.
	  <li><a href="/360/momChinaTrip2017/shanghai/park_residence_4">Emily, mom, and I at park residence (2).</a>  We are discussing the interesting fountain.
	  <li><a href="/360/momChinaTrip2017/shanghai/park_residence_5">Emily, mom, and I at a park residence (3).</a>  Mom and I are discussing this overpass for vines to grow on and both agree wisteria would look greak.
	  <li><a href="/360/momChinaTrip2017/shanghai/starbucks_2">Emily, mom, and I at a Starbucks in the French Concession.</a>
	  <li><a href="/360/momChinaTrip2017/shanghai/emily_evening_walk_2">Emily, mom, and I on an evening walk.</a>  Mom is carrying the chess set we got this day so we could play a few games.
	  <li><a href="/360/momChinaTrip2017/shanghai/me_mom_evening_walk">Mom and I taking an evening walk through the city.</a>
          <li><a href="/360/momChinaTrip2017/shanghai/fuxing_park_1">Fuxing Park (1).</a>  <a href="https://en.wikipedia.org/wiki/Fuxing_Park">Fuxing Park</a> (built in 1919) in the <a href="https://en.wikipedia.org/wiki/Shanghai_French_Concession">French Concession</a> territory of Shanghai.
          <li><a href="/360/momChinaTrip2017/shanghai/fuxing_park_4">Fuxing Park (2)</a>
          <li><a href="/360/momChinaTrip2017/shanghai/fuxing_park_9">Fuxing Park (3)</a>
          <li><a href="/360/momChinaTrip2017/shanghai/french_concession_main_st_1">This is a Main St. type area in the French Concession.</a>  Parents/grandparents wait for their children to get out of school. Mom is holding one of my <a href="https://en.wikipedia.org/wiki/Suanmeitang">favorite drinks</a> in China, a sour prune drink.
          <li><a href="/360/momChinaTrip2017/shanghai/french_concession_main_st_4">Another view of the Main St. area</a>
	  <li><a href="/360/momChinaTrip2017/shanghai/coffee_3">Mom and I enjoy a cop of coffee together at a local shop.</a>

          <h3> 2017 Chinese New Year </h3>
          <li><a href="/360/Laibin_food1">Emily, me, and two of her cousins eating outside in her hometown</a>
          <li><a href="/360/Laibin_mom_hometown1">Emily and I visiting her mom's hometown (1)</a>
          <li><a href="/360/Laibin_mom_hometown2">Emily and I visiting her mom's hometown (2)</a>
          <li><a href="/360/Laibin_mom_hometown3">Emily and I visiting her mom's hometown (3)</a>

          <h3> 2016 Chicago/Wisconsin </h3>
          <li><a href="/360/Chicago_Emily"> Emily and I in downtown Chicago</a>
          <li><a href="/360/David_by_barn"> David's house outside</a>
          <li><a href="/360/David_kitchen1"> David's kitchen (1)</a>
          <li><a href="/360/David_kitchen2"> David's kitchen (2)</a>
          <li><a href="/360/David_living_room"> Me playing with David and Paul's dog in the living room</a>
          <li><a href="/360/David_dinner"> David, Paul, Emily, and I having dinner</a>
          <li><a href="/360/Retirement_home"> Me, David, Emily, and others eating dilunch afer performing for Harvest Guest Home</a>

          <h3> 2016 Indianapolis trip </h3>
          <li><a href="/360/Jeff_dinner"> Dinner with Jeff, his gf, Rosanne, Joe, Emily</a>
          <li><a href="/360/Christmas_Eve">Christmas Eve with Koptizke Family</a>
          <li><a href="/360/Christmas_Maria_present">Christmas Day with Maria opening present</a>
          <li><a href="/360/Home_cookies_cutting">Cutting Christmas cookies</a>
          
          <h3> 2016 October Iceland </h3>        
          <li><a href="/360/Iceland_field">Jordan and I in field in Northern Iceland</a>
          <li><a href="/360/Iceland_rainbow"> Jordan and I looking at rainbow</a>
          <li><a href="/360/Iceland_trek1"> Jordan and I on Laugavegur (1)</a>
          <li><a href="/360/Iceland_trek2"> Jordan and I on Laugavegur (2)</a>
          <li><a href="/360/Iceland_trek3"> Jordan and I on Laugavegur (3)</a>
          <li><a href="/360/Iceland_water"> Jordan and I by the North Atlantic Ocean</a>
          
       </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
