<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>About This Website</h1>
            <p>I have decided to build this web site for two major reasons.  The first is to
            be a representation of me: my interests, hobbies, personal projects, etc.</p><br>
            <p>The second reason is for me to use this as a forum to learn more about web development, both
            on the front end (everything you, the user, see and interact with) and the back end (the nuts and bolts behind the scenes, the the databses holdinging info, the code the server is running).
            Everything you see has been coded by myself.  I haven't used Wordpress, Dreamweaver, or 
            any other kind of web building tool. Because I want to get involved in all the nitty
            gritty details that go into making a web site work, I'm building everything from the ground up. </p><br>
            <p>I expect this site to be a work in progress, so please feel free to check back in every few weeks to 
            see what kind of progress I'm making!</p><br>
            <p>If you have any comments or suggestions for how I could make
            the site even better, please don't hesitate to contact me and let me know what you think! If anything on this
            web page looks out of sort, please let me know! Maybe you're browsing on a different browser or on your cell
            phone, and I forgot to cater the site to you! Whatever you think, whatever your experience is, I'd be interested in outside opinions/suggestions!</p><br>
            <p>Otherwise, enjoy the experience, and I hope you enjoy what this site has to offer!</p><br><br>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
