<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to Nathaniel's Homepage</h1>
            <p>I have decided to build this web site to serve two different goals.  The first, is for to
            be a representation of me: my interests, a place for me to introduce different things
            that I personally care about</p><br>
            <p>The second goal is for me to use this as a forum to learn more about web development, both
            on the front end (what you see) and the back end (all that fun stuff that happens behind the scenes).
            Everything you see has been personally coded by yours truly.  I haven't used Wordpress, Dreamweaver, or 
            any other kind of web building tool.  This is mainly because I want to get involved in all the nitty
            gritty details that go into making a web site work. </p><br>
            <p>I expect this site to be a work in progress, so please feel free to check back in every few weeks to 
            see what kind of progress I'm making!</p><br>
            <p>If you have any comments or suggestions for how I could make
            the site even better, please don't hesitate to contact me and let me know what you think! If anything on this
            web page looks out of sort, please let me know! Maybe you're browsing on a different browser or on your cell
            phone, and I forgot to cater the site to you! Whatever you think, whatever your experience is, please don't
            hesitate to let me know!</p><br>
            <p>Otherwise, enjoy the experience, and I hope you enjoy what this site has to offer!</p><br><br>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
