<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
 
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container">
        <div class="jumbotron">
            <h1 style="text-align:center;">About This Website</h1>
            <p>This site serves as a representation of me: my interests, hobbies, personal projects, etc.</p>
            <p>In addition, it gives me a way to learn more about web development, both
            on the front end (everything you, the user, see and interact with) and the back end (the nuts and bolts behind the scenes, the the databases holding info, the code the server is running).
            Everything you see has been coded by myself.  I haven't used Wordpress, Dreamweaver, or 
            any other kind of web building tool. <br>
            <p>This site is a work in progress, so check back every few weeks to 
            see recent changes.</p>
            <p> The code that comprises this site, including the "My Garden" wep app and code for the Arduino/ESP8266 plant monitor devices is available on <a href="http://github.com/nathanielhobbs">my Github</a>.<br>
        </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
