<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Contact Indo</h1>
            <br>
            <p>You can contact me by e-mail at: <a href="mailto:hobbs.nathaniel@gmail.com">hobbs.nathaniel@gmail.com</a></p><br>
            <p>My cellphone number in China is: +86 138-1143-7372</p><br>
            <p>My Skype number is :             317-489-0125 (This calls my computer, then after 2 or 3 rings forwards to my China cell)</p><br>
            <table>
                <tr><td>My current mailing address is:</td><td>北京东城区</td></tr>
                <tr><td></td><td>交道口土儿胡同4号楼11单元601室</td></tr>
                <tr><td></td><td>韩安德 (Nathaniel Hobbs)</td></tr>
                <tr><td></td><td>邮政编码：100007</td></tr>
                <tr></tr>
                <tr><td>In English:</td><td>Nathaniel Hobbs (韩安德）</td></tr>
                <tr><td></td><td>Jiaodaokou Tu'er Hutong Building 4 Unit 11 Room 601</td></tr>
                <tr><td></td><td>Dongcheng District</td></tr>
                <tr><td></td><td>Beijing, China 100007</td></tr>
                <tr><td></td><td></td></tr>
            </table>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
