<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 style="text-align:center;">Contact Info</h1>
	    <br>
            <img src="../../img/me_tube_hold_on_20.jpg" class="img-responsive center-block" alt="Responsive image">
            <br>
            <p>E-mail: <a href="mailto:hobbs.nathaniel@gmail.com">hobbs.nathaniel@gmail.com</a></p><br>
            <p>Chinese cell: +86 138-1143-7372</p><br>
            <p>US number: 317-489-0125 (This Skype number calls my computer, then after 2 or 3 rings forwards to my China cell)</p><br>
            <table class="paddingBetweenCols">
                <tr><td>My current mailing address is:</td><td>北京东城区</td></tr>
                <tr><td></td><td>交道口土儿胡同4号楼11单元601室</td></tr>
                <tr><td></td><td>韩安德 (Nathaniel Hobbs)</td></tr>
                <tr><td></td><td>邮政编码：100007</td></tr>
		<tr><td>&nbsp;</td></tr>
                <tr><td>In English:</td><td>Nathaniel Hobbs (韩安德）</td></tr>
                <tr><td></td><td>Jiaodaokou Tu'er Hutong Building 4 Unit 11 Room 601</td></tr>
                <tr><td></td><td>Dongcheng District</td></tr>
                <tr><td></td><td>Beijing, China 100007</td></tr>
                <tr><td></td><td></td></tr>
            </table>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
