<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<!--<body class="container">-->
<body>

    
        <h2 style="text-align:center;"> <u>Convex Optimization </u></h2>
        <p>In 2017 I took a class on <a href="https://en.wikipedia.org/wiki/Convex_optimization">Convex Optimization</a> with a wonderful professor, <a href="http://www.ece.rutgers.edu/~kdana/">Kristin Data</a> who specializes in computer vision.  Convex problems are "nice" problems because they are "simple", esentially they are problems that have exactly one minimum (or maximum) value.  Despite this simplicity, you can accomplish some extraordinary things: create models to maximize profits/income contrained to perceived risk in investments and budget restrictions, for example.</p>
        <p> The class was very challenging for me, but was worth it because of how often the topic comes up in different areas of study, and the assignments were outstanding.</p>

        <h3 style="text-align:center;"> Image Segmentation </h3> 
        <h4><b> Hands </b></h4>
        <p> The goal of image segmentation is to "pull out" some object of interest in an image.</p>
        <img src="../../img/cvx_opt/hand_color.PNG" class="img-responsive center-block" alt="Responsive image" max-width: 100%>
        <p>This is a picture I took of me and my wife's hand in front of my chalk board wall.  The goal was to pull out our hands from the image (an interesting example, because she's Chinese and I'm caucasian, so the color of our skin is slightly different).  The pixels in the green boxes were used to train the algorithm as examples of "hand" and the red boxes as examples of "not hand".  </p>
        <img src="../../img/cvx_opt/hand_svm.PNG" class="img-responsive center-block" alt="Responsive image" max-width: 100%> 
        <p>Here is the result of the segmentation.</p>
        <h4> Apple </h4>
        <p>Here is another example trying to pull out an apple from the image.</p>
        <img src="../../img/cvx_opt/apple_color.PNG" class="img-responsive center-block" alt="Responsive image" max-width: 100%> 
        <img src="../../img/cvx_opt/apple_svm.PNG" class="img-responsive center-block" alt="Responsive image" max-width: 100%>
        <h3> Image restoration </h3>
        <p>In this example, there has been a filter that has been applied to an image.  The goal is to recover the original image.</p>
        <img src="../../img/cvx_opt/guitar.PNG" class="img-responsive center-block" alt="Responsive image" max-width: 100%> 
        <p>The filtered image is on the left, and the image that I recovered is on the right. The writeup with the mathematical explanation can be found <a href="../../documents/cvx_opt/cvx_opt_guitar_spline.pdf">here</a> and some plots and more images of other techniques can be found <a href="../../documents/cvx_opt/plots.pdf">here</a>.</p>

        <h3 style="text-align:center;"> Spline Fitting </h3>
        <p>In this example, we're given a picture of a very curvey river. The goal is to find a function that appproximates the curve of the river.</p>
        <img src="../../img/cvx_opt/spline.PNG" class="img-responsive center-block" alt="Responsive image" max-width: 100%>
        <p>  On the left is the image of the river and on the right is the function I found.  The points in blue are ones that I marked as being points along the river, and the red line is the function that I computed that is an approximation of one that would produce the points.</p>

        <h3 style="text-align:center;"> Final Project: Kernel SVM </h3>
        <p>As my final project in the class, I studied how to do image predition using <a href="https://en.wikipedia.org/wiki/Support_vector_machine">Support Vector Machines (SVMs)</a> using the <a href="https://en.wikipedia.org/wiki/Kernel_method">"kernel trick"</a>.  SVMs are basically algorithms that try to find a best fit "straight line" that seperates data.  Again, despite their simplicity, they can be very powerful, and are widely used to do amazing things. </p>
        <p>I think I might have gone a bit overboard with this project, but I had a lot of fun doing it, and was very pleased with presenting the idea of SVMs from the start, working through all the math (with colored equations!!), and putting together a good experiment to test things with.  You can read it for yourself <a href="../../documents/cvx_opt/cvx_opt_final_report.pdf">here</a>.</p>
    
</body>
</html>
