<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
              <h1 style="text-align:center;">Nathaniel's Homepage</h1>
              <br>
              <img src="../../img/me_black_white_bust_50.jpg" class="img-responsive center-block" alt="Responsive image">
	<br><br>
	<p>My name is Nathaniel Hobbs, I'm currently enrolled at Rutgers doing a PhD in Machine Learning with an amazing advisor, <a href="http://papakons.business.rutgers.edu/">Periklis Papakonstantinou</a>.  
	<p>My undergraduate degree was obtained from <a href="http://purdue.edu/">Purdue</a>, where I double majored in Math and Computer Science.  I also minored in <a href="https://www.youtube.com/watch?v=-BWAxPwREh8">Chinese</a>, and moved to China after graduating.
	<p>After a year of dedication to the study of Mandarin in Beijing, I got my Masters degree at <a href="http://www.tsinghua.edu.cn/publish/newthuen/">Tsinghua University</a> studying at the <a href="http://iiis.tsinghua.edu.cn/en/">Institute for Interdisciplinary Information Sciences (IIIS)</a> with the extraordinary "Yao class".
	<p>I'm happy to be back in the US after such a long time away, and excited to delve into the wonderful world of research.  This website is a hobby and I try to keep things not horribly out of date. Feel free to check back whenever.
	
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
