<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
              <h1 style="text-align:center;">Nathaniel's Homepage</h1>
              <br>
              <img src="../../img/me_black_white_bust_50.jpg" class="img-responsive center-block" alt="Responsive image">
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
