<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
	<div class="container-fluid">
        	<div class="jumbotron">
           	 <h1 style="text-align:center;">Nathaniel's Homepage</h1>
           	 <br>
            	<p style="text-align:center;"><img src="../../img/me_black_white_bust_50.jpg" class="img-fluid" alt="Responsive imgae"></p>
           	 <p>This site is currently under construction, so be sure to check back!</p>
        	</div>
	</div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
